<!-- Pantalla Error: En cas de que no hi hagi res -->

<% if @folders.count == 0 && @documents.count == 0 %>
	  <div style="position: relative; color:#BFBFBF;  text-align: center; margin: 30px;">
	     Carpeta vacia! 
	  </div>
<% end %>