<% title "Upload a file" %> 

<%= render :partial => "home/breadcrumbs" %>

<%= render 'form' %> 

<p>
	<% if @document.folders %>
	<%= link_to "Back to  Folder", browse_path(1) %>
	<% else %>
	<%= link_to "Back to List", root_url %>
	<% end %>
</p>